@import 'utility.css';
/* #3DCFD3---primary */
:root{
  --primary:#66FF00; 
  --dark: #161616;
  --pure:#FFFFFF;
  --ternary:#898989;
  --light:#a36a00 ;
  --secondary:#086168e4;
  --tertiary:#FAFA33;
  --lightest:#ECECEC;
}
  /* #F2F2F2--light */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smotthing:antialiased;
}

html{
  scroll-behavior:smooth;
}

header{
  background: var(--dark);
  clip-path: polygon(0 0,100% 0,100% 100%,70% 85%, 0 100%);
  
}
nav{
  display: flex;
  justify-content: space-between;

  width: 120%;
}
header nav .left a{
  color:var(--primary) ;
  text-decoration: none;
  margin-right: 2rem;
  text-transform: uppercase;
  cursor: pointer;
}
.name{
  font-size: 70px;
  font-weight: bolder;
  color: var(--primary);
  width: 130%;
  margin-bottom: 20px;
}
header nav .left a:hover{
  color: var(--tertiary);
  transition:all .3s ease;
}

.right-nav{
  
  display: flex;
  justify-content: end;
}


.btn{
  padding:0.8rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  border: 2px solid transparent;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
}

.btn-primary{
  background:var(--primary);
  color: var(--dark);
  
}

.btn-primary:hover{
  background:transparent;
  color: var(--primary);
  border-color: var(--primary);
  font-weight: bolder;
}

.btn-secondary{
  background: transparent;
  color: var(--primary);
  border-color: var(--primary);
}

.btn-secondary:hover{
  background: var(--primary);
  color: var(--dark);
  font-weight: bolder;
}

span{
  color: var(--primary);
}

.img1{
    height: 60px;
   
    width:60px;
    margin:12px 0px;
    
    border-radius: 34px;
    padding: 7px;
    
}

.hero .left img{
  width: 500px;
}
.hero .right{
  color: var(--pure);
}

.hero .right h2{
  font-size: 1.6rem;
  color: var(--tertiary);
   margin-bottom: 0.5rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
.hero .right h3{
  font-size: 1.6rem;
  font-weight: 20;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hero .right p{
  line-height: 1.9;
  margin-bottom: 2rem;;
}

.hero .right{
  margin-top: -7rem;
}

.right{
  margin: 3rem;
  flex: 1;
  margin-right: 10px;
}
.container{
  max-width: 1152px;
  padding:0 15px;
  margin:0 5rem;
}

body{
  font-family: 'Poppins', sans-serif;
  
}

section{
  padding:10rem 0;
}

section.about .container{
  
  border-color: var(--secondary);
}

section.about h1{
  margin-bottom: 1rem;
  font-size:3rem;
  font-weight: 400;
}

section.about h3{
  font-size: 2 rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

section.about p{
  font-family: 'Lato', sans-serif;
  color: var(--light);
  line-height: 1.5rem;
  font-size: medium;
  margin-right: 2rem;
}

section.about .social{
  display: flex;
}

section.about .social a{
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  margin-right: 0.8rem;
  margin-top: 1.5rem;
  transition: all .3s ease;
}

section.about .social a img{
  width: 100%;
  height: 100%;
  padding: 0.2rem;
}

section.about .social a:hover{
  background: var(--primary);
}

section.about .about-img{
  width: 220%;; 
  height: 220%;
  margin-left: 2.5px;
}

.section-heading{
  color: var(--secondary);
  text-align: center;
  margin-bottom: 1rem;
  line-height: 0.5;
  font-size: xx-large;
}

.section-heading + p{
  color: var(--ternary);
  font-family: 'Lato' , sans-serif;
  margin-bottom: 5rem;
  text-align: center;
  font-size: large;
}

section.services{
  background-color: var(--dark);
  clip-path: polygon(0 0,40% 10%,100% 0,100% 100%,40% 90%, 0 100%);
}

section.services .card-wrapper{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  grid-column-gap: 6rem;
  grid-row-gap: 4rem;
}

section.services .card-wrapper .card{
  background: var(--secondary);
  padding: 1rem 2rem;
  
  transition: all .3s ease;
  cursor: pointer;
  padding: auto 10px;
  display: flex;
  justify-content: space-between;

}

.skills{
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 10px 10px;
  font-size: larger;
  font-weight: bold;
}

section.services .card-wrapper .card img{
  
  border-radius: 90%;
  height: 170px;
  width: 170px;
  
}

section.services .card-wrapper .card h2{
  font-weight: 400;
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

section.services .card-wrapper .card p{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 800;
  color: var(--pure);
  line-height: 1.6;
  font-size: smaller;
}

section.services .card-wrapper .card:hover{
  background: rgba(29, 123, 19, 0.409);
  

}

section.services .card-wrapper .card:hover h2 , section.services .card-wrapper .card:hover p , section.services .card-wrapper .card:hover a span{
  color: var(--pure);
}

section.project{
  background: var(--lightest);
  padding-bottom: 14rem;
  clip-path: polygon(0 15%,40% 0%,100% 15% ,100% 100%, 0 100%);
}

.project-heading{
  font-size: medium;
}

section.project .card-wrapper{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  grid-gap:4rem;
}

section.project .card-wrapper .card{
  position: relative;

}

section.project .card-wrapper .card .overlay{
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: rgba(42,42,42,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section.project .card-wrapper .card .overlay a{
  color: var(--tertiary);
  text-decoration: none;
}
section.project .card-wrapper .card .overlay p{
  color: var(--pure);
  font-size: smaller;
  font-family:Georgia, 'Times New Roman', Times, serif ;
  padding: 10px 10px;
}
section.project .card-wrapper .card:hover{
  scale: 1.2;
  transition:all 0.3s ease;
}

section.project .card-wrapper .card:hover .overlay{
  opacity: 0;
}


.contacts .cont {
    display: flex;
  justify-content: space-between;
  background-color: rgba(2,2,2);
  clip-path: polygon(0 0,100% 0,100% 100% ,50% 130%,0 100%);
}
.contacts .cont .left {
  
  width: 50%;
  height: 90vh;
  background-image: url("images/contacts.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  clip-path: polygon(0 0,100% 0,70% 50% ,100% 100%,0 100%);
}
.contacts .cont .right {
  width: 67%;
  background-image: url("");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  
}

.contacts .cont .right .card {
  background-color:#08626875;
  border-radius: 5px;
  padding: 50px;
  width: 600px;
  height: 550px;
  color: white;
}

.contacts .cont .right .card contact-form{
  z-index: 1;
}

.contacts .cont .right .card h2 {
  margin-bottom: 20px;
  z-index: 1;
  color: var(--primary);
}

.contacts .cont .right .card h4{
  color: var(--tertiary);
  display: flex;
}

.contacts .cont .right .card h4 img{
  height: 22px;
  width: 22px;
}

.contacts .cont .right .card label {
  display: block;
  color: var(--ternary);
  margin-bottom: 5px;
  z-index: 1;
}

.contacts .cont .right .card input[type="text"],
.contacts .cont .right .card input[type="email"],
.contacts .cont .right .card textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  z-index: 1;
}

.contacts .cont .right .card button {
  background-color:var(--primary);
  color: var(--dark);
  border: var(--dark);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: bolder;
  font-family:Arial, Helvetica, sans-serif;
}

.contacts .cont .right .card button:hover {
  background-color: var(--dark);
  color: var(--pure);
}

.contact_sty:hover {
  color:var(--pure);
  font-size: large;
}